@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to top right, #ffd89b, #19547b);
  font-family: "Poppins";
}
.login-container,
.sign-up-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login,
.sign-up {
  /* height: 400px;
  width: 350px; */
  padding: 50px;
  position: relative;
  top: -50px;
  border: 3px solid #ffd89b;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: #ffd89b 0px 19px 38px, #ffd89b 0px 15px 12px;
  transition: all 1s;
  animation: moveup 1s;
}
.username-container,
.username-register-container {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.default-design {
  width: 250px;
  height: 30px;
  padding: 5px;
  margin-top: 5px;
  border: none;
  outline: 0;
  cursor: text;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 15px 0px;
}
.password-container,
.password-register-contianer {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.to-sign-up {
  text-decoration: none;
}
.hidden {
  display: none !important;
}
/* sign up section */
.password-repeat-container {
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.btn-submit,
.btn-sign-up,
.btn-submit-curriculm,
.btn-submit-event,
.btn-confrim,
.back-period {
  border-radius: 10px;
  width: 130px;
  height: 35px;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: white;
  border: 2px solid #ffe1b2;
  cursor: pointer;
}
.back-period {
  margin-top: 35px;
}
.btn-confrim:hover {
  background-color: #fff8ed;
  transform: scale(1.1);
}
/* .btn-confrim:active{
  animation: disappear 2s;
} */
.btn-submit:hover {
  background-color: #fff8ed;
  transform: scale(1.12);
}
.btn-sign-up:hover {
  background-color: #fff8ed;
  transform: scale(1.12);
}

.bact-login {
  cursor: pointer;
}
.event-enter-container {
  display: flex;
  flex-direction: column;
  color: white;
  height: 100vh;
  width: 100vw;
  animation: appear 1.8s;
  /* opacity: 0; */
}

/* .event-enter-container:hover{
  opacity: 1;
  transition: all 1s;
} */
.welcome-nav {
  border-bottom: 2px solid white;
  padding: 10px 0px 25px 15px;
}
.welcome-message {
  padding-top: 10px;
  padding-left: 10px;
}
.date {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: 30px;
}
.date2 {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}
.current-date2 {
  color: #ffeed2;
}
.menu {
  padding: 20px;
  color: white;
  border-left: 3px solid white;
  font-size: 28px;
  cursor: pointer;
}
.menu-bar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding-left: 7px;
}

.menu:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #3a6887;
  transition: all 0.4s;
}
.an-event-container,
.curriculm-container,
.today-schedule-report,
.current-week-schedule-report,
.schedule-specific-period {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appear 1.5s;
}
.regiser:hover {
  background-color: #fff8ed;
  transform: scale(1.03);
}
.box-event,
.box-curriculm,
.box-today-schedule,
.box-week-shedule,
.box-period-schedule {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px 50px;
  border: 3px solid #ffd89b;
  border-radius: 15px;
  box-shadow: #ffd89b 0px 19px 38px, #ffd89b 0px 15px 12px;
  animation: moveup 1s;
}
.box-specific {
  padding: 20px 20px;
  gap: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffd89b;
  border-radius: 15px;
  box-shadow: #ffd89b 0px 19px 38px, #ffd89b 0px 15px 12px;
  animation: moveup 1s;
  top: 12px;
}
.box-today-schedule-row,
.bow-week-shedule-row,
.box-period-schedule-row {
  border-bottom: 2px solid #ffd89b;
  margin-top: 2px;
}
.name-event-container,.time-event-container{
  display: inline;
}
#odd,
#even {
  cursor: pointer;
}
.start-semester {
  margin-left: 5px;
}
.lesson-input {
  margin-left: 5px;
}
.button-conatainer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.container-start-semester {
  display: flex;
  flex-direction: column;
}
.container-weekylesson {
  display: flex;
  flex-direction: column;
}
.btn-back {
  border-radius: 10px;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: white;
  border: 2px solid #ffd89b;
  cursor: pointer;
}
.btn-back:hover {
  background-color: #fff8ed;
  transform: scale(1.01);
}
.title-event {
  margin-bottom: 20px;
}
.period-text {
  color: #ffeed2;
}
.period-date {
  margin-bottom: 10px;
}
.lesson-conatainer,
.time-container,
.lesson-conatainer-week,
.time-container-week,
.lesson-conatainer-period,
.time-container-period {
  display: flex;
  flex-direction: row;
}
.current-week {
  margin-bottom: 8px;
}
.date-current-week {
  color: #ffeed2;
}
/* ! animation*/
@keyframes moveup {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* responsive of the page  */
/* tablet */
@media screen and (max-width: 730px) {
  .login,
  .sign-up
   {
    padding: 30px;
    font-size: 13px;
  }
  .box-event{
    padding: 5px 12px;
    font-size: 14px;
  }
  .box-curriculm {
    font-size: 14px;
    padding: 20px;
  }
  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    border-bottom: 1px solid white;
    border-left: none;
    font-size: 18px;
    padding: none;
  }
  .welcome-message {
    font-size: 20px;
  }
  .welcome-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .welcome-nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px){
  .box-event{
    font-size: 12px;
  }

}
@media screen and (max-width: 540px){
  .box-event{
    font-size: 12px;
  }
  

}
/* mobile */
@media screen and (max-width: 440px){
  .box-event{
    padding: 5px 8px;  
  }
  .name-event-container{
    display: flex;
    flex-direction: column;
  }
  .time-event-conatainer{
    display: flex;
    flex-direction: column;
  }
  

}
@media screen and (max-width: 400px) {
  .login {
    padding: 8px 15px;
    font-size: 12px;
  }
  .sign-up {
    padding: 15px 15px;
    font-size: 12px;
  }
  .menu-bar {
    font-size: 5px;
  }
  .menu {
    font-size: 15px;
  }
  .default-design {
    width: 200px;
  }
}
@media screen and (max-width: 330px) {
  .welcome-message {
    font-size: 18px;
  }
}
@media screen and (max-width: 300px) {
  .welcome-message {
    font-size: 15px;
  }
  .login {
    padding: 8px 15px;
    font-size: 10px;
  }
  .sign-up {
    padding: 15px 15px;
    font-size: 10px;
  }
  .menu-bar {
    gap: 1px;
  }
}
